[submodule "cakephp"]
	path = cakephp
	url = git://github.com/cakephp/cakephp.git
[submodule "Plugin/GChart"]
	path = Plugin/GChart
	url = git://github.com/jamesballard/Google-visualization-api-cakephp.git
[submodule "Plugin/menu_builder"]
	path = Plugin/menu_builder
	url = git://github.com/torifat/cake-menu_builder.git
