[submodule "cakephp"]
	path = cakephp
	url = https://github.com/cakephp/cakephp.git
[submodule "Plugin/GChart"]
	path = Plugin/GChart
	url = https://github.com/jamesballard/Google-visualization-api-cakephp.git
[submodule "Plugin/AclExtras"]
	path = Plugin/AclExtras
	url = https://github.com/markstory/acl_extras.git
[submodule "webroot/api"]
	path = webroot/api
	url = https://github.com/jamesballard/infiniteimport.git
[submodule "Plugin/Chosen"]
	path = Plugin/Chosen
	url = https://github.com/paulredmond/chosen-cakephp.git
[submodule "Plugin/Wizard"]
	path = Plugin/Wizard
	url = https://github.com/ProLoser/CakePHP-Wizard.git
[submodule "Plugin/Tools"]
	path = Plugin/Tools
	url = https://github.com/dereuromark/tools.git
