[submodule "cakephp"]
	path = cakephp
	url = git://github.com/cakephp/cakephp.git
[submodule "Plugin/GChart"]
	path = Plugin/GChart
	url = git://github.com/jamesballard/Google-visualization-api-cakephp.git
[submodule "Plugin/AclExtras"]
	path = Plugin/AclExtras
	url = git://github.com/markstory/acl_extras.git
[submodule "webroot/api"]
	path = webroot/api
	url = git://github.com/jamesballard/infiniteimport.git
[submodule "Plugin/Chosen"]
	path = Plugin/Chosen
	url = git://github.com/paulredmond/chosen-cakephp.git
